<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <br> </br>
                </div> -->
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading" style="padding-bottom: 30px">About</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <p class="text-muted" style="text-align: left">
                        Classically trained soprano singer, graduated from the University of Edinburgh in 2020 (BMus Hons). Latest performances include lunchtime concerts at the Reid Concert Hall (Edinburgh), Greyfriars Kirk (Edinburgh), Edinburgh Society of Musicians and Marchmont St Giles Church Choir as a soprano scholar.</p>

                    <p class="text-muted" style="text-align: left">
                        As part of her graduation recital (sadly cancelled due to the COVID-19), Tania has worked closely with John Kitchen MBE (harpsichord) to deliver an interpretation of the Handel's cantata <i>La Lucrezia</i>. This performance will hopefully take place sometime during the summer/autumn of 2020.</p>

                    <p class="text-muted" style="text-align: left">
                        Tania teaches the voice since 2010 to a wide age range, both in schools and in individual lessons. Tania is highly interested in the hollistic approach to singing and anatomically-informed teaching.
                        Previous teaching positions include Stagecoach Performing Arts School (Stirling and Edinburgh) and James Gillespies Primary School (Edinburgh, Ritmico).</p>
                    <p class="text-muted" style="text-align: left">
                        Read more below.</p>
                </div>
                <div class="col-md-6">
                    <img class="img-circle img-responsive" src="img/me.jpg" alt="" style="margin: 3em auto 0 auto; box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;" width="400" height="402">
                </div>
            </div>
        </div>
    </section>
