<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <br> </br>
                </div> -->
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading" style="padding-bottom: 30px">About Me</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <p class="text-muted" style="text-align: left">
                        I am a master's student in music theory at McGill University. My research interests surround non-Western pop music and transformational theory.</p>

                    <p class="text-muted" style="text-align: left">
                        You can read my master's thesis "The Anime Sound" <a href="https://docs.google.com/document/d/1egcnDK9C_g-FxZLnsopWS-PNXvaSRVucaO5NmihNt04/edit?usp=sharing">here</a>. 
                        Some of my past research topics have covered Japanese traditional music, K-pop and prog-rock.</p>

                    <p class="text-muted" style="text-align: left">
                        I am also a singer, a singing teacher and a music theory tutor. I am passionate about teaching and advising my students in all things music career.</p>

                    <p class="text-muted" style="text-align: left">
                        <a class="page-scroll" href="#contact">Get in touch!</a><br><br>My pronouns are they/them.</p>
                </div>
                <div class="col-md-6">
                    <img class="img-circle img-responsive lazyload" src="{{ site.baseurl }}/img/me.webp" alt="" style="margin: 3em auto 0 auto; box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;" width="400" height="402">
                </div>
            </div>
        </div>
    </section>
