<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <br> </br>
                </div> -->
            </div>
            <div class="row text-center">
                <!-- <div class="col-lg-12">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading" style="padding-bottom: 30px">remove this heading</h2>
                    </div>
                </div> -->
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <p class="text-muted" style="text-align: left">
                        I'm an independent scholar in music theory, a singing/music teacher, and a classical singer. My research interests surround East-Asian pop music (more recently, anime music), East-Asian aesthetics and music semiotics. You can read my master's thesis "The Anime Sound," <a href="https://escholarship.mcgill.ca/concern/theses/hq37vt952">here</a>. In my music studio, I provide a non-discriminatory space for all ages and walks of life. I teach any genre of music, at any level.</p>

                    <p class="text-muted" style="text-align: left">
                        </p>

                    <p class="text-muted" style="text-align: left">
                        <a class="page-scroll" href="#contact">Get in touch!</a><br><br>My pronouns are they/them.</p>
                </div>
                <div class="col-md-6">
                    <img class="img-circle img-responsive lazyload" src="{{ site.baseurl }}/img/me.webp" alt="" style="margin: 3em auto 0 auto; box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;" width="400" height="402">
                </div>
            </div>
        </div>
    </section>
