<!-- Awards Section -->
    <section id="awards" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Awards And Scholarships</h2>
                    <br> </br>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-1" style="width: 6.25%"></div>
                <div class="col-md-3">
                    <h4 class="service-heading">McGill University</h4>
                    <p class="text-muted">Sep 2020—Aug 2022<br>Student Excellence Award<br>Graduate Excellence Award<br>Friends of McGill Fellowship Award</p>
                </div>
                <div class="col-md-1" style="width: 6.25%"></div>
                <div class="col-md-3">
                    <h4 class="service-heading">International Grant Competition<br>Schulich School of Music</h4>
                    <p class="text-muted">Mar 2022<br>Department of Music Research, Master’s Competition. Grant application: "The Anime Sound"</p>
                </div>
                <div class="col-md-1" style="width: 6.25%"></div>
                <div class="col-md-3">
                    <h4 class="service-heading">Reid School of Music <br>Tovey Memorial Award</h4>
                    <p class="text-muted">Mar 2020<br>Runner-up prize for solo performance.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-1" style="width: 6.25%"></div>
                <div class="col-md-3">
                    <h4 class="service-heading">Marchmont St Giles Church Scholarship</h4>
                    <p class="text-muted">Feb 2017—May 2020<br>Scholarship covering part of <br>personal singing tuition fees.</p>
                </div>
                <div class="col-md-1" style="width: 6.25%"></div>
                <div class="col-md-3">
                    <h4 class="service-heading">Edinburgh College <br>FE Academic Award 2015</h4>
                    <p class="text-muted">Awarded by nomination to the student in further education at Edinburgh College (all courses) that
                            show excellent academic results.</p>
                </div>
                <div class="col-md-1" style="width: 6.25%"></div>
                <div class="col-md-3">
                    <h4 class="service-heading">Arena RK Studentship</h4>
                    <p class="text-muted">Sep 2009—Dec 2012<br>Vocal tuition awarded through auditioning and merit in Arena RK music school (Setubal, Portugal).</p>
                </div>
            </div>
        </div>
    </section>
