<section id="contact" class="lazyload" data-sizes="auto" data-bgset="{{ site.baseurl }}/img/group-photo-400.webp 400w 172h, {{ site.baseurl }}/img/group-photo-600.webp 600w 257h, {{ site.baseurl }}/img/group-photo-800.webp 800w 343h, {{ site.baseurl }}/img/group-photo-1000.webp 1000w 429h, {{ site.baseurl }}/img/group-photo-1200.webp 1200w 515h, {{ site.baseurl }}/img/group-photo-1400.webp 1400w 601h, {{ site.baseurl }}/img/group-photo-1578.webp 1578w 677h" style="background-image: url({{ site.baseurl }}/img/group-photo-lq.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center"><br><br><br><br>
                <h2 class="section-heading">Contacts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p style="text-align: center; font-size: 30px; font-weight: 400">
                    <a href="mailto:tania.nazare@gmail.com" target="blank">tania.nazare@gmail.com</a></p>
                </div>
            </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align: center">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fab fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                    <br><br><br><br><br>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    </section>