<!-- Education Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">education</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009—2012</h4>
                                    <h4 class="subheading">Arena RK Music School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pop/Rock singing and music theory lessons. Various performing opportunities.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014—2016</h4>
                                    <h4 class="subheading">Edinburgh College</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">HNC Classical Music;<br>TCL Grade 8 Music Theory;<br>TCL Grade 8 Classical Singing;<br>TCL Grade 5 Piano.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016—2020</h4>
                                    <h4 class="subheading">The University of Edinburgh</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">BMus (Hons) Class of 2020</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020—2022</h4>
                                    <h4 class="subheading">McGill University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">MA Music Theory</p>
                                </div>
                            </div>
                        </li>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>