<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" style="padding: 0; !important">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Tania Nazare</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#teaching">Teaching</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#performance">Performance</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#awards">Awards</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#education">Education</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contacts</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <!-- <header class="lazyload" data-bg="{{ site.baseurl }}/img/header-bg-1800.jpg"> -->
    <header class="lazyload" data-sizes="auto" data-bgset="{{ site.baseurl }}/img/header-bg-400.jpg 400w 176h, {{ site.baseurl }}/img/header-bg-600.jpg 600w 264h, {{ site.baseurl }}/img/header-bg-800.jpg 800w 352h, {{ site.baseurl }}/img/header-bg-1000.jpg 1000w 439h, {{ site.baseurl }}/img/header-bg-1200.jpg 1200w 527h, {{ site.baseurl }}/img/header-bg-1400.jpg 1400w 615h, {{ site.baseurl }}/img/header-bg-1600.jpg 1600w 703h, {{ site.baseurl }}/img/header-bg-1800.jpg 1800w 791h" style="background-color: #262626; background-image: url({{ site.baseurl }}/img/header-bg-lq.jpg);">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Tania Nazare</div>
                <div class="intro-lead-in">SOPRANO SINGER // TEACHER</div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

