<head>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MTXRKXP');</script>
        <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <script type="text/javascript" async>
        function loadJS(u) {
            var r = document.getElementsByTagName("script")[0],
                s = document.createElement("script");
            s.src = u;
            r.parentNode.insertBefore(s, r);
        }
    
        if (!window.HTMLPictureElement || document.msElementsFromPoint) {
            loadJS("{{ "/js/ls.respimg.min.js" | prepend: site.baseurl }}");
        }
    </script>
    {% include {{ site.baseurl }}/js/lazysizes.min.html %}

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    {% if page.name == "blog.html" or page.name == "blogpost.html" %}
    {% include {{ site.baseurl }}/css/purified_bootstrap_portfolio.min.html %}
        {% include {{ site.baseurl }}/css/agency-portfolio.html %}
    {% else %}
        {% include {{ site.baseurl }}/css/purified_bootstrap.min.html %}
    {% endif %}
    {% include {{ site.baseurl }}/css/agency.html %}

    <!-- Custom Fonts -->
    {% include {{ site.baseurl }}/css/purified_fontawesome.all.min.html %}
    {% include {{ site.baseurl }}/css/fonts.html %}
    <!-- <link rel="stylesheet" href="{{ "/css/fonts.css" | prepend: site.baseurl }}"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

      
  {% if page.name == "blogpost.html" %}
    <script type="text/javascript" async>
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i=0;i<vars.length;i++) {
                    var pair = vars[i].split("=");
                    if(pair[0] == variable){return pair[1];}
            }
            return(false);
        }

        window.onload = function() {
            var v = getQueryVariable("post")
            if (v != false) {
                var el = document.getElementById("portfolioModalLink" + v);
                if(typeof(el) != 'undefined' && el != null) {
                    el.click();
                }
            }
        }
    </script> 
  {% endif %}
</head>
