 <!-- jQuery Version 1.11.0 -->

    <script type="text/javascript" async>
      [
         "{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}",
         "{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}",
         "{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}",
         "{{ "/js/classie.js" | prepend: site.baseurl }}",
         "{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}",
         "{{ "/js/agency.js" | prepend: site.baseurl }}"
      ].forEach(function(src) {
        var script = document.createElement('script');
        script.src = src;
        script.async = false; 
        document.head.appendChild(script);
      });
      </script>
