 <!-- jQuery Version 1.11.0 -->

    <script type="text/javascript" async>
      [
          "{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}",
          {% if page.name == "blog.html" or page.name == "blogpost.html" %}
            "{{ "/js/bootstrap-portfolio.min.js" | prepend: site.baseurl }}",
          {% else %}
            "{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}",
          {% endif %}
         "{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}",
         "{{ "/js/classie.js" | prepend: site.baseurl }}",
          {% if page.name == "index.html" %}
            "{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}",
          {% endif %}
          {% if page.name == "blog.html" or page.name == "blogpost.html" %}
            "{{ "/js/dependent-selects.js" | prepend: site.baseurl }}",
          {% endif %}
         "{{ "/js/agency.js" | prepend: site.baseurl }}"
      ].forEach(function(src) {
        var script = document.createElement('script');
        script.src = src;
        script.async = false; 
        document.head.appendChild(script);
      });

        function noScroll() {
            window.scrollTo(0, 0);
        }
      </script>
    <!-- The script below is copy-pasted into Google Tag Manager and ran from there when a user consents to cookies.
      <script type="text/javascript" async>
        function appendIframe() {
          var el = document.getElementById("soundcloud_container")
          if(typeof(el) != 'undefined' && el != null){
            var f = document.createElement('iframe');
            f.classList.add("lazyload");
            f.src = "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1038303736&amp;color=%23111111&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"; 
            f.dataset.aid = "AUDIO_IFRAME_RENDERED";
            f.width = '80%'; 
            f.height = 280;
            f.addEventListener('scroll', noScroll);
            f.title = "Clickable audio widget";
            f.style = "text-align: right";
            var el2 = document.getElementById("soundcloud-iframe-not-loaded")
            if(typeof(el2) != 'undefined' && el2 != null){
              el2.style.display = "none";
            }
            el.appendChild(f);
          }
        }
        
        if (document.readyState === "complete") {
          appendIframe()
        } else {
          window.onload = appendIframe();
        }
      </script> -->
