 <!-- Portfolio Modals -->
{% if site.tags != "" %}
{% include collecttags.html %}
{% endif %}
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="{{ site.baseurl }}/img/blog/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <ul class="list-inline item-details">
                                <li>Date: 
                                    <strong>{{ post.date | date: "%-d %B %Y" }}
                                    </strong>
                                </li>
                                <li>Tags: 
                                    <strong>
                                        {% for tag in post.tags %}
                                            {% capture tag_name %}{{ tag }}{% endcapture %}
                                            <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
                                        {% endfor %}
                                    </strong>
                                </li>
                            </ul>
                            <p style="text-align: left;"><strong>{{ post.description }}</strong></p>
                            <p style="text-align: left;">{{ post.post_content }}</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
