<!-- Performance Section -->
    <section id="performance">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Performance</h2>
                    <br> </br>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x timeline-image">
                        <img class="img-circle img-responsive" src="img/about/1.jpg" alt="" style="height: 120px; margin: auto; box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;">
                    </span>
                    <h4 class="service-heading">Graduation Recital<br>(Edinburgh, UK)</h4>
                    <p class="text-muted">(sadly cancelled due to the COVID-19)<br>Tania has worked closely with John Kitchen MBE (harpsichord) to deliver an interpretation of the Handel's cantata La Lucrezia. This performance will hopefully take place sometime during the summer/autumn of 2020.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x timeline-image">
                        <img class="img-circle img-responsive" src="img/about/1.jpg" alt="" style="height: 120px; margin: auto; box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;">
                    </span>
                    <h4 class="service-heading">Marchmont St Giles' Church <br>(Edinburgh, UK)</h4>
                    <p class="text-muted">Feb 2017—May 2020<br>Soprano choir scholar. <br>Tania has also performed at the MGC charity evening concert in 2017 to raise funds towards the restoration/refurbishment of the church.</br></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x timeline-image">
                        <img class="img-circle img-responsive" src="img/about/1.jpg" alt="" style="height: 120px; margin: auto; box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;">
                    </span>
                    <h4 class="service-heading">Studio recording<br>(Edinburgh, UK)</h4>
                    <p class="text-muted">Dec 2019<br>Studio singing for a short Christmas greetings video created for Chartered Surveyors <br>Blackhall & Powis. <a href="https://gavinblackhurst.co.uk/the-12-days-on-site">See details here</a>.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x timeline-image">
                        <img class="img-circle img-responsive" src="img/about/1.jpg" alt="" style="height: 120px; margin: auto; box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;">
                    </span>
                    <h4 class="service-heading">University of Edinburgh Concert Series</h4>
                    <p class="text-muted">Dec 2016—Mar 2020<br>Recital-format performances at Greyfriars Kirk, Reid Concert Hall, Edinburgh Society of Musicians and City of Edinburgh Methodist Church.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x timeline-image">
                        <img class="img-circle img-responsive" src="img/about/1.jpg" alt="" style="height: 120px; margin: auto; box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;">
                    </span>
                    <h4 class="service-heading">Jukebox: A Musical Revue</h4>
                    <p class="text-muted">May 2017<br>Acting, dancing and singing as <br>one of the main characters. <br><a href="https://www.facebook.com/JukeboxMusicalRevue">See details here</a>.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Recordings</h4>
                    <iframe data-aid="AUDIO_IFRAME_RENDERED" height="280px" weight="80%" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1038303736&amp;color=%23111111&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true" scrolling="no" frameborder="no" title="Clickable audio widget" style="text-align: right"></iframe>
                </div>
            </div>
        </div>
    </section>
