<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <i class="fas fa-microphone-alt"></i>
                    </span>
                    <h4 class="service-heading">Singing Lessons</h4>
                    <p class="text-muted">Singing lessons on genres such as opera, choral, musical theatre, pop and rock. Online, individual and classroom formats available.<br> </br><br>All levels welcome.</br></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Music Theory</h4>
                    <p class="text-muted">Music theory lessons for both individuals at any age and classrooms. Preparation for examination boards such as Trinity College London, ABRSM and Rockschool.<br> </br><br>All levels welcome.</br></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Classroom Music</h4>
                    <p class="text-muted">General music at all key stages, with teaching methods such as Kodáli. Further education musicianship and music theory also offered (under consultation).,<br> </br><br>All levels welcome.</br></p>
                </div>
            </div>
        </div>
    </section>
