<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research Highlights</h2>
                    <br> </br>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-1" style="width: 6.25%"></div>
                <div class="col-md-3">
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i> -->
                    <!-- </span> --> 
                    <h4 class="service-heading"><i>Japanese Musical Tradition: The Roots, Development, <br>and Consolidation of an Omnivorous Tradition</i></h4>
                    <p class="text-muted">B.Mus. (Hons) Dissertation at <br>The University of Edinburgh.<br><br>Advisor: <a href="https://www.eca.ed.ac.uk/profile/dr-james-cook">Dr. James Cook</a><br></p>
                </div>
                <div class="col-md-1" style="width: 6.25%"></div>
                <div class="col-md-3">
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        <i class="fas fa-book-open fa-stack-1x fa-inverse"></i> -->
                    <!-- </span> --> 
                    <h4 class="service-heading"><i>More is More: Form, Harmony and Rhythm in K-pop</i><br></h4>
                    <p class="text-muted">Seminar paper for <br>MUTH 541 Topics in Popular <br>Music Analysis.<br><br>Instructor: <a href="https://www.mcgill.ca/music/nicole-biamonte">Prof. Nicole Biamonte</a><br></p>
                </div>
                <div class="col-md-1" style="width: 6.25%"></div>
                <div class="col-md-3">
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        <i class="fa fa-chalkboard-teacher fa-stack-1x fa-inverse"></i> -->
                    <!-- </span> --> 
                    <h4 class="service-heading"><i>Through the Post-Tonal Lens: Prog-Rock as a Pedagogical Tool in the Post-Tonal Curriculum</i></h4>
                    <p class="text-muted">Seminar paper for <br>MUTH 653 Pedagogy of Post-Tonal Theory and Analysis.<br><br>Instructor: <a href="https://www.mcgill.ca/music/robert-hasegawa">Prof. Robert Hasegawa</a><br></p>
                </div>
                <div class="col-md-1" style="width: 6.25%"></div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <br><br>
                    <i><a class="page-scroll" href="#contact">Have a burning question or want to know more? Please get in touch!</a></i>
                </div>
            </div>
        </div>
    </section>
