<!-- Teaching Section -->
    <section id="teaching" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Teaching</h2>
                    <br> </br>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <h4 class="service-heading">Private Lessons</h4>
                    <p class="text-muted">Jan 2016—present<br>Individual lessons.<br>In person or online.</p>
                </div>
                <div class="col-md-3">
                    <h4 class="service-heading">Stagecoach Performing Arts School <br>(Stirling, UK)</h4>
                    <p class="text-muted"> Jan 2018—Mar 2020 <br>Main stages teacher. Teaching duties include: teaching key stages 1-4; lesson planning in accordance with
                            the school’s teaching framework; teaching in accordance with child protection (PVG).</p>
                </div>
                <div class="col-md-3">
                    <h4 class="service-heading">Ritmico Music School <br>(Edinburgh, UK)</h4>
                    <p class="text-muted"> Jan 2016—Jun 2019 <br>Teaching duties include: teaching key stages 1-2; lesson planning in accordance with
                            Ritmico’s framework; teaching in accordance with child protection (PVG). Work with teaching methods such as Kodáli and Dalcroze.</p>
                </div>
                <div class="col-md-3">
                        <h4 class="service-heading">Arena RK Music School <br>(Setubal, Portugal)</h4>
                        <p class="text-muted"> Jun 2010—Jun 2011 <br>Organising and teaching at singing summer camps of 2010 and 2011.</p>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading" style="margin-bottom: 20px">Reviews</h3>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center" style="text-align: left">
                <div class="col-md-6">
                    <p class="text-muted"><h4 style="font-size: 24px; font-weight: 300">C.</h4><i>I have a problem with anxiety and was very worried about starting singing lessons. I had nothing to worry about. Tania had me hooked from lesson one—I said which songs I would like to sing and she finds the ones that will bring on my singing and confidence. She has her work cut out for her with me but she is getting me to hold back less each week. AND it's fun! I know nothing about music and all my questions are answered without me feeling like I'm dumb. I am very glad I found a tutor who so fits my nature and l look forward to each lesson regardless of what my anxiety is telling me.</i></p>
                </div>
                <div class="col-md-6">
                        <p class="text-muted"><h4 style="font-size: 24px; font-weight: 300">M.</h4><i>My daughter thoroughly enjoys her lessons with Tania and looks forward to them every week. Tania is enthusiastic and her lessons are engaging. A skilled teacher and talented singer, we feel very lucky to have found her.</i></p>
                </div>
            </div>
            <div class="row text-center" style="text-align: left">
                    <div class="col-md-6">
                            <p class="text-muted"><h4 style="font-size: 24px; font-weight: 300">S.</h4><i>Tania was friendly, prompt, and really flexible. The singing lesson was a surprise gift and it went brilliantly! The lesson combined vocal exercises and singing some songs. I will definitely be booking again.</i></p>
                    </div>
                    <div class="col-md-6">
                            <p class="text-muted"><h4 style="font-size: 24px; font-weight: 300">D.</h4><i>I've only had two lessons and already learned more than what I've learned from any one else about singing. I think her teaching style is amazing and I'm getting more and more comfortable with singing even though I'm an anxious person.</i></p>
                    </div>
                </div>
            </div>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading" style="margin-bottom: 0px"><a href="https://tutorful.co.uk/tutors/56wl8qkn">Read More</a></h3>
                </div>
            </div>
        </div>
    </section>
