<!-- Teaching Section -->
    <section id="teaching" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Teaching</h2>
                    <br> </br>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <h4 class="service-heading">Music Theory Tutoring<br>and Teaching Singing</h4>
                    <p class="text-muted">Jan 2016—present<br>Individual lessons.<br>In person or online.</p>
                </div>
                <div class="col-md-3">
                    <h4 class="service-heading">McGill University<br>(Montreal, Canada)</h4>
                    <p class="text-muted"> Sep 2021—Apr 2022 <br>Teaching assistant to the classes: MUPD 135 Music as a Profession <br>MUTH 151 Theory and Analysis 2</p>
                </div>
                <div class="col-md-3">
                    <h4 class="service-heading">Stagecoach<br> Performing Arts School <br>(Stirling, UK)</h4>
                    <p class="text-muted"> Jan 2018—Mar 2020 <br>Main stages singing teacher. Teaching duties include: teaching key stages 1-4; lesson planning in accordance with
                            the school’s teaching framework; teaching in accordance with child protection (PVG).</p>
                </div>
                <div class="col-md-3">
                    <h4 class="service-heading">Ritmico Music School <br>(Edinburgh, UK)</h4>
                    <p class="text-muted"> Jan 2016—Jun 2019 <br>Teaching duties include: teaching music to key stages 1-2; lesson planning in accordance with
                            Ritmico’s framework; teaching in accordance with child protection (PVG). Work with teaching methods such as Kodáli and Dalcroze.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading" style="margin-bottom: 20px">Selected Reviews</h3>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center" style="text-align: left">
                <div class="col-md-6">
                    <h4 style="font-size: 24px; font-weight: 300">C.</h4>
                    <p class="text-muted"><i>I have a problem with anxiety and was very worried about starting singing lessons. I had nothing to worry about. Tania had me hooked from lesson one.</i></p>
                </div>
                <div class="col-md-6">
                        <h4 style="font-size: 24px; font-weight: 300">D.</h4>
                        <p class="text-muted"><i>Good pace to lessons and always leave feeling like I've learnt what we've set out for the lesson and normally, even more!</i></p>
                </div>
            </div>
            <div class="row text-center" style="text-align: left">
                    <div class="col-md-6">
                        <h4 style="font-size: 24px; font-weight: 300">S.</h4>
                            <p class="text-muted"><i>Tania was friendly, prompt, and really flexible. The singing lesson was a surprise gift and it went brilliantly! The lesson combined vocal exercises and singing some songs. I will definitely be booking again.</i></p>
                    </div>
                    <div class="col-md-6">
                        <h4 style="font-size: 24px; font-weight: 300">D.</h4>
                            <p class="text-muted"><i>I've only had two lessons and already learned more than what I've learned from any one else about singing.</i></p>
                    </div>
                </div>
            </div>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <p class="text-muted" style="margin-bottom: 0px">Reviews retrieved from <a href="https://tutorful.co.uk/tutors/56wl8qkn">Tutorful</a> and <a href="https://www.firsttutors.com/uk/music/teacher/tania.singing.music-theory.composition/">FirstTutors</a>.</h3>
                </div>
            </div>
        </div>
    </section>
